@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');

/*------Início do Header------*/

.wrapper {
    margin: 0 auto;
    max-width: 900px;
}

header{
    border-bottom: 3px solid #E6E6E6;
    width: 1000px;
}

header img{
    position: absolute;
    width: 96.5px;
    height: 59.5px;
    left: 224.5px;
    top: 21.5px;
}

header section nav #g1{
    position: absolute;
    width: 740px;
    height: 35px;
    left: 360.5px;
    top: 36.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.065em;
    color: #A80001;
    text-decoration: none;
}

header section nav #ge{
    position: absolute;
    width: 740px;
    height: 35px;
    left: 390.5px;
    top: 36.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.065em;
    color: #06AA48;
    text-decoration: none;
}

header section nav #cartola{
    position: absolute;
    width: 740px;
    height: 35px;
    left: 420.5px;
    top: 36.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.065em;
    color: #FF7F00;
    text-decoration: none;
}

header section nav #tech{
    position: absolute;
    width: 740px;
    height: 35px;
    left: 485.5px;
    top: 36.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.065em;
    color: #666;
    text-decoration: none;
}

header section nav #receitas{
    position: absolute;
    width: 740px;
    height: 35px;
    left: 530.5px;
    top: 36.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: -0.065em;
    color: #A5147D;
    text-decoration: none;
}
#rectangle_3{
    position: absolute;
    width: 1600px;
    height: 1px;
    left: 5px;
    top: 103px;
    background: #E6E6E6;
}
/*------Início do Body------*/
main section #TopHeadLine h1{
    position: absolute;
    width: 663.5px;
    height: 205.5px;
    left: 227px;
    top: 80.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 58px;
    letter-spacing: -0.028em;
    color: #CD150B;
}

main section #TopHeadLine p{
    position: absolute;
    width: 576px;
    height: 33.5px;
    left: 226.5px;
    top: 320px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;
    color: #CD150B;
}

main section #rectangle_1{
    position: absolute;
    width: 558px;
    height: 1px;
    left: 227.5px;
    top: 386px;
    background: #E1E1E1;
}

main section #MidHeadLine #Mid1 img{
    position: absolute;
    width: 171px;
    height: 96px;
    left: 225.5px;
    top: 409px;
}

main section #MidHeadLine #Mid1 h2{
    position: absolute;
    width: 174px;
    height: 84px;
    left: 225px;
    top: 512px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #CD150B;
}

main section #MidHeadLine #Mid1 p{
    position: absolute;
    width: 174px;
    height: 42.5px;
    left: 225px;
    top: 618px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15.5px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #CD150B;
}

main section #MidHeadLine #Mid2 img{
    position: absolute;
    width: 171px;
    height: 96px;
    left: 420.5px;
    top: 412px;
}

main section #MidHeadLine #Mid2 h2{
    position: absolute;
    width: 174px;
    height: 84px;
    left: 420px;
    top: 515px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #CD150B;
}

main section #MidHeadLine #Mid2 p{
    position: absolute;
    width: 174px;
    height: 42.5px;
    left: 421px;
    top: 618px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15.5px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #CD150B;
}

main section #MidHeadLine #Mid3 img{
    position: absolute;
    width: 171px;
    height: 96px;
    left: 618px;
    top: 412px;
}

main section #MidHeadLine #Mid3 h2{
    position: absolute;
    width: 174px;
    height: 84px;
    left: 617.5px;
    top: 515px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #CD150B;
}

main section #MidHeadLine #Mid3 p{
    position: absolute;
    width: 174px;
    height: 42.5px;
    left: 615px;
    top: 617px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15.5px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #CD150B;
}

main section #rectangle_2{
    position: absolute;
    width: 558px;
    height: 1px;
    left: 227.5px;
    top: 664px;
    background: #E1E1E1;
}

main section #BottomHeadLine #Bot1 h3{
    position: absolute;
    width: 123px;
    height: 33px;
    left: 225px;
    top: 669px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;
    color: #CD150B;
}

main section #BottomHeadLine #Bot1 p{
    position: absolute;
    width: 174px;
    height: 84px;
    left: 227px;
    top: 697.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #000000;
}

main section #BottomHeadLine #Bot2 h3{
    position: absolute;
    width: 123px;
    height: 33px;
    left: 423px;
    top: 669px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;    
    color: #CD150B;
}

main section #BottomHeadLine #Bot2 p{
    position: absolute;
    width: 174px;
    height: 84px;
    left: 422.5px;
    top: 697.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #000000;
}

main section #BottomHeadLine #Bot3 h3{
    position: absolute;
    width: 123px;
    height: 33px;
    left: 618px;
    top: 666px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.068em;
    color: #CD150B;
}

main section #BottomHeadLine #Bot3 p{
    position: absolute;
    width: 174px;
    height: 84px;
    left: 617.5px;
    top: 697.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #000000;
}

main #bar_1{
    position: absolute;
    width: 1px;
    height: 670px;
    left: 825.5px;
    top: 143.5px;
    background: #E1E1E1;
}

main #part_02 #TopNews img{
    position: absolute;
    width: 216.71px;
    height: 122px;
    left: 862px;
    top: 143px;
}

main #part_02 #TopNews h2{
    position: absolute;
    width: 207px;
    height: 84px;
    left: 862px;
    top: 273.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #06AA48; 
}

main #part_02 #MidNews img{
    position: absolute;
    width: 216.71px;
    height: 122px;
    left: 865px;
    top: 382px;
}

main #part_02 #MidNews h2{
    position: absolute;
    width: 207px;
    height: 84px;
    left: 865px;
    top: 512.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #06AA48;
}

main #part_02 #BotNews h2{
    position: absolute;
    width: 219.5px;
    height: 131.5px;
    left: 860px;
    top: 618px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #06AA48;
    
}

main #part_02 #BotNews p{
    position: absolute;
    width: 219.5px;
    height: 42.5px;
    left: 862px;
    top: 728px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15.5px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #06AA48;
}

main #bar_2{
    position: absolute;
    width: 1px;
    height: 670px;
    left: 1117.5px;
    top: 143.5px;
    background: #E1E1E1;
}

main #part_03 #TopNews img{
    position: absolute;
    width: 216.71px;
    height: 122px;
    left: 1145px;
    top: 143px;
}

main #part_03 #TopNews h2{
    position: absolute;
    width: 207px;
    height: 84px;
    left: 1154.5px;
    top: 274px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #FF8203;
}

main #part_03 #TopNews p{
    position: absolute;
    width: 219.5px;
    height: 26.5px;
    left: 1154.5px;
    top: 360.5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15.5px;
    line-height: 19px;
    letter-spacing: -0.048em;
    color: #FF8203;
}

main #part_03 #MidNews img{
    position: absolute;
    width: 216.71px;
    height: 122px;
    left: 1150px;
    top: 435px;
}

main #part_03 #MidNews h2{
    position: absolute;
    width: 207px;
    height: 84px;
    left: 1155px;
    top: 566px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 21.5px;
    line-height: 25px;
    letter-spacing: -0.045em;
    color: #FF8203;
}